h1 {
  color: #353232;
  text-align: center;
  font-size: 4em;
  font-family: Garamond, serif;
}

p {
  color: #353232;
  text-align: center;
  font-size: 2em;
  font-family: Garamond, serif;
}

body {
  background-image: url("../images/bodybg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

a {
  font-size: 1.5vw;
}

h2 a {
  float:center;
  display:block;
  color: rgb(45, 41, 240);
  text-align: center;
  padding: 1%;
  font-size:1.5vw;
}
.homeoptions a{
  float:center;
  display:block;
  color: black;
  font-family: Garamond, serif;
  text-align: center;
  padding: 1%;
  text-decoration: none;
  font-size:5vw;
}

.homeoptions a:hover{
  color:rgb(175, 165, 165)
}
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.dropdown {
  position:relative;
  display:inline-block;
  width: 100%;
}

.dropdownbtn {
  display: block;
  float:center;
  background-color:#DEDCDC;
  border: none;
  margin:0px;
  text-align: center;
  width: 100%;
  height: 120%;
  position:sticky;
  top:0;
  font-size: 1vw;
}

.dropdownbtn:hover{
  display:block;
  cursor:pointer;
}

.navigation_content{
  overflow: hidden;
  display:none;
  background-color: #DEDCDC;
  background-position: center;
  margin: 0;
  position:absolute;
  width:100%;
}

.navigation_content a {
  float:center;
  display:block;
  color: black;
  font-family: Garamond, serif;
  text-align: center;
  padding: 1%;
  text-decoration: none;
}

.navigation_content a:hover {
background-color: #B9B9B9;
color: black;
}

.dropdown:hover .navigation_content {display:block;}

.dropdown:hover .dropdownbtn {background-color: rgb(172, 169, 169);}

.header {
    background-color: #E0E0E0;
    text-align: center;
    color: black;
    font-family:sans-serif;
    font-size:5.5em;
    padding:7px;
    margin:0;
}

.column {
  float: left;
}

.column.halfleft {
  width: 40%;
  text-align: left;
  margin:2%;
  padding-left:10%;
}

.column.halfright {
  width: 40%;
  float:right;
  text-align: right;
  margin:2%;
  padding-right:10%;
}
.column.aboutme {
  width: 35%;
  text-align: left;
  margin: 7px;
  position: relative;
  left: 130px;
  top: 20px;
}

.column.picture1{
  position:relative;
  left:625px;
  top:125px;
}

section {
  display:flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content:center;
}

.container {
  width:80%;
  height: 800px;

  max-width: 1300px;
  max-height: 1000px;
  background-color:#f7d9d994;
  box-shadow:10px 5px 15px rgb(199, 199, 199);
  border-radius: 30px;
}

.form_row {
  margin-top: 2%;
  margin-left: 2%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  width: 100%;
}

.form_row input,
.form_row textarea {
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 95%;
  padding: 1% 1%;
  font-size: 1em;
}

input:focus, textarea:focus {
  background-color:#eefffd
}

.btn input{
  position:relative;
  left: 59%;
  bottom: 0.7vh;
  text-align: center center;
  align-items: left;
  width: 40%;
  height: 45px;
}

input[type=submit] {
  border-radius: 25px;
  background-color: rgb(60, 165, 60);
  color: rgb(255, 255, 255);
  border-width:2px;
  border-color:rgb(103, 129, 101);
}

.btn:hover input{
  cursor:pointer;
}